[Unit]
Description=Remindee Telegram Bot

[Service]
ExecStart=/opt/remindee/bin/remindee-bot
Restart=always
RestartSec=2
User=remindee
Environment=REMINDEE_DB=/var/lib/remindee/remindee_db.sqlite
EnvironmentFile=/var/lib/remindee/token.env

ProtectHome=true
ProtectSystem=full
PrivateTmp=true
#ProtectKernelTunables=true
ProtectControlGroups=true
ReadWritePaths=/var/lib/remindee

# Execute Mappings
MemoryDenyWriteExecute=true

# Privilege escalation
NoNewPrivileges=true

[Install]
WantedBy=default.target

